
<div class="container">
    <div class="panel">
      <mat-toolbar color="primary" style="width: 100%">
        <div style="margin: 0 auto; font-size: 25px;">Regisztráció</div>
      </mat-toolbar>
      <mat-form-field>
        <input matInput placeholder="Email" type="email" [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Jelszó" type="password" [(ngModel)]="pass" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Jelszó mégegyszer" type="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="register()" >Regisztrálok!</button>
      <div class="spacer"></div>
      <a mat-button routerLink="/login">Inkább bejelentkezek</a>
    </div>
  </div>