
<div class="container">
  <div class="panel">
    <mat-toolbar color="primary" style="width: 100%">
      <div style="margin: 0 auto; font-size: 25px;">Bejelentkezés</div>
    </mat-toolbar>
    <div class="spacer"></div>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="email" type="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Jelszó" [(ngModel)]="pass" type="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()" >Bejelentkezek!</button>
    <div class="spacer"></div>
    <a mat-button routerLink="/registration">Inkább regisztrálok</a>
  </div>
</div>